.box{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 20px;

}
.card{
    border-radius: 10px;
    padding-top: 40px;
   height: 400px;
}
img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    border: 2px blue solid;
}


   


   
   
